<a href="https://colab.research.google.com/github/malakbayramovaa/pandas-tutorials/blob/main/imdbTop250.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset haqqında ümumi məlumat

In [ ]:
# pandasi import edin ve imbd datasetini yukleyin
import pandas as pd
df = pd.read_csv("/content/imdbTop250.csv")

In [ ]:
# Datasetin ilk 10 sətrini ekrana çıxarın.
df.head(10)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
5,6,1996,/title/tt0112691/,A Close Shave,1995,30,"Animation, Short, Comedy",8.1,NaN,40586,NaN,Nick Park,Peter Sallis,Anne Reid,Justin Fletcher,Peter Hawkins
6,7,1996,/title/tt0117731/,Star Trek: First Contact,1996,111,"Action, Adventure, Drama",7.6,71.0,122819,92.00,Jonathan Frakes,Patrick Stewart,Jonathan Frakes,Brent Spiner,LeVar Burton
7,8,1996,/title/tt0034583/,Casablanca,1942,102,"Drama, Romance, War",8.5,100.0,551575,1.02,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains
8,9,1996,/title/tt0083658/,Blade Runner,1982,117,"Action, Drama, Sci-Fi",8.1,84.0,736925,32.87,Ridley Scott,Harrison Ford,Rutger Hauer,Sean Young,Edward James Olmos
9,10,1996,/title/tt0108052/,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0,1292510,96.90,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall

In [ ]:
# Datasetin sütun adlarını göstərin.
df.columns

Index(['Ranking', 'IMDByear', 'IMDBlink', 'Title', 'Date', 'RunTime', 'Genre',
       'Rating', 'Score', 'Votes', 'Gross', 'Director', 'Cast1', 'Cast2',
       'Cast3', 'Cast4'],
      dtype='object')

In [ ]:
# Datasetdə neçə sətrin və neçə sütunun olduğunu tapın.
df.shape
print("Row sayi: ", df.shape[0])
print("Column sayi:", df.shape[1])

Row sayi:  6500
Column sayi: 16

In [ ]:
# Hər bir sütunun data tipini (dtype) göstərən kod yazın.
df.dtypes

Ranking       int64
IMDByear      int64
IMDBlink     object
Title        object
Date          int64
RunTime       int64
Genre        object
Rating      float64
Score       float64
Votes         int64
Gross       float64
Director     object
Cast1        object
Cast2        object
Cast3        object
Cast4        object
dtype: object

In [ ]:
# Datasetdə ümumilikdə neçə null dəyər olduğunu tapın.
df.isnull().sum().sum()

np.int64(1651)

In [ ]:
# Hər sütundakı null dəyərlərin sayını çıxarın.
df.isnull().sum()

Ranking       0
IMDByear      0
IMDBlink      0
Title         0
Date          0
RunTime       0
Genre         0
Rating        0
Score       826
Votes         0
Gross       809
Director      0
Cast1         0
Cast2         0
Cast3         8
Cast4         8
dtype: int64

In [ ]:
# Hansı sətrlərdə null dəyər varsa, həmin bütün sətrləri ekrana çıxarın.
df[df.isnull().any(axis=1)]

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
5,6,1996,/title/tt0112691/,A Close Shave,1995,30,"Animation, Short, Comedy",8.1,NaN,40586,NaN,Nick Park,Peter Sallis,Anne Reid,Justin Fletcher,Peter Hawkins
16,17,1996,/title/tt0115640/,Beautiful Thing,1996,90,"Comedy, Drama, Romance",7.6,NaN,23787,1.50,Hettie Macdonald,Glen Berry,Linda Henry,Scott Neal,Tameka Empson
20,21,1996,/title/tt0117509/,Romeo + Juliet,1996,120,"Drama, Romance",6.7,NaN,221501,46.35,Baz Luhrmann,Leonardo DiCaprio,Claire Danes,John Leguizamo,Harold Perrineau
26,27,1996,/title/tt0078446/,Up in Smoke,1978,86,"Comedy, Music",6.9,NaN,37875,44.36,"Lou Adler, Tommy Chong",Cheech Marin,Tommy Chong,Strother Martin,Edie Adams
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6493,244,2021,/title/tt0169858/,Neon Genesis Evangelion: The End of Evangelion,1997,87,"Animation, Action, Drama",8.1,NaN,49868,NaN,"Hideaki Anno, Kazuya Tsurumaki",Megumi Ogata,Megumi Hayashibara,Yûko Miyamura,Kotono Mitsuishi
6494,245,2021,/title/tt0060107/,Andrei Rublev,1966,205,"Biography, Drama, History",8.1,NaN,52008,0.10,Andrei Tarkovsky,Anatoliy Solonitsyn,Ivan Lapikov,Nikolay Grinko,Nikolay Sergeev
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [ ]:
# Score sütunundakı null dəyərləri median ilə doldurun.
df['Score']=df['Score'].fillna(df['Score'].median())

In [ ]:
df.isnull().sum()

Ranking       0
IMDByear      0
IMDBlink      0
Title         0
Date          0
RunTime       0
Genre         0
Rating        0
Score         0
Votes         0
Gross       809
Director      0
Cast1         0
Cast2         0
Cast3         8
Cast4         8
dtype: int64

In [ ]:
# Gross sutunundaki null deyerleri ortalama ile doldurun
df['Gross'] = df['Gross'].fillna(df['Gross'].mean())

In [ ]:
df.isnull().sum()

Ranking     0
IMDByear    0
IMDBlink    0
Title       0
Date        0
RunTime     0
Genre       0
Rating      0
Score       0
Votes       0
Gross       0
Director    0
Cast1       0
Cast2       0
Cast3       8
Cast4       8
dtype: int64

In [ ]:
# Cast3 ve Cast4 sütunlarindakı null dəyərləri əvvəlki sətirdəki dəyərlə (ffill) doldurun.
df['Cast3'] = df['Cast3'].fillna(method='ffill')

/tmp/ipython-input-16573682.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Cast3'] = df['Cast3'].fillna(method='ffill')

In [ ]:
df['Cast4'] = df['Cast4'].fillna(method='ffill')

/tmp/ipython-input-4016693075.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Cast4'] = df['Cast4'].fillna(method='ffill')

In [ ]:
df.isnull().sum()

Ranking     0
IMDByear    0
IMDBlink    0
Title       0
Date        0
RunTime     0
Genre       0
Rating      0
Score       0
Votes       0
Gross       0
Director    0
Cast1       0
Cast2       0
Cast3       0
Cast4       0
dtype: int64

# Əsas statistik analiz

In [ ]:
# IMDb rating kolonunun maksimum, minimum və orta qiymətlərini tapın.
df.describe()['Rating']

count    6500.000000
mean        8.171431
std         0.327116
min         5.500000
25%         8.000000
50%         8.100000
75%         8.300000
max         9.300000
Name: Rating, dtype: float64

In [ ]:
print("Maksimum rating:", df['Rating'].max())
print("Minimum rating:", df['Rating'].min())
print("Ortalama rating:", df['Rating'].mean())

Maksimum rating: 9.3
Minimum rating: 5.5
Ortalama rating: 8.171430769230769

In [ ]:
# Ən yüksək rating alan filmi tapın (title və rating).    #loc idxmax
df.loc[df['Rating'].idxmax()][['Title', 'Rating']]

Title     The Shawshank Redemption
Rating                         9.3
Name: 1, dtype: object

In [ ]:
# Ən aşağı rating alan filmi tapın.
df.loc[df['Rating'].idxmin()][['Title', 'Rating']]

Title     Tom and Huck
Rating             5.5
Name: 145, dtype: object

In [ ]:
# Date sütununda ən köhnə və ən yeni filmin illerini tapın.
print("en kohne film:",df['Date'].min())
print("En yeni film:", df['Date'].max())

en kohne film: 1920
En yeni film: 2021

# Filtrləmə və seçmə

In [ ]:
# IMDb reytinqi 8.5-dən yüksək olan filmləri seçin.
df[df['Rating']>8.5][['Title', 'Rating']]

                                   Title  Rating
0     Star Wars: Episode IV - A New Hope     8.6
1               The Shawshank Redemption     9.3
9                       Schindler's List     8.9
11                          Pulp Fiction     8.9
13                         The Godfather     9.2
...                                  ...     ...
6279                      The Green Mile     8.6
6280                            Parasite     8.6
6282                           Hara-Kiri     8.6
6389                            Jai Bhim     9.3
6499                        Sardar Udham     8.7

[676 rows x 2 columns]

In [ ]:
# 2000–2010 illəri arasında çıxmış filmləri siyahıya alın
df[df['Date'].between(2000,2010)][['Title', 'Date']]

                               Title  Date
1050                   Almost Famous  2000
1059  Crouching Tiger, Hidden Dragon  2000
1076                       Gladiator  2000
1137              Dancer in the Dark  2000
1149             Requiem for a Dream  2000
...                              ...   ...
6482            In the Mood for Love  2000
6483                    Hotel Rwanda  2004
6486                   Into the Wild  2007
6488                   Amores perros  2000
6491                   Before Sunset  2004

[1087 rows x 2 columns]

In [ ]:
# Rating-i 9.0–dan yüksək olan ilk 5 filmi seçin.
df[df['Rating']>9].head(5)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
13,14,1996,/title/tt0068646/,The Godfather,1972,175,"Crime, Drama",9.2,100.0,1741574,134.97,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
250,1,1997,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
252,3,1997,/title/tt0068646/,The Godfather,1972,175,"Crime, Drama",9.2,100.0,1741574,134.97,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton
500,1,1998,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler

# Qruplaşdırma və sıralama

In [ ]:
# Filmləri il üzrə qruplaşdırın və hər ilin orta IMDb reytinqini hesablayın.
df.groupby('Date')['Rating'].mean()

Date
1920    8.100000
1921    8.300000
1922    7.900000
1923    8.100000
1924    8.200000
          ...
2017    8.161111
2018    8.280000
2019    8.275000
2020    8.300000
2021    8.700000
Name: Rating, Length: 101, dtype: float64

In [ ]:
# Filmləri IMDb rating-ə görə azalan sırayla düzün.
df.sort_values(by='Rating',ascending=False)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
6389,140,2021,/title/tt15097216/,Jai Bhim,2021,164,"Crime, Drama",9.3,85.0,169008,70.709617,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan
4500,1,2014,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
4750,1,2015,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
500,1,1998,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.340000,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,178,1996,/title/tt0092610/,Bad Taste,1987,91,"Comedy, Horror, Sci-Fi",6.5,85.0,46184,70.709617,Peter Jackson,Terry Potter,Pete O'Herne,Craig Smith,Mike Minett
699,200,1998,/title/tt0120587/,Antz,1998,83,"Animation, Adventure, Comedy",6.5,72.0,152020,90.760000,"Eric Darnell, Tim Johnson",Woody Allen,Sharon Stone,Gene Hackman,Sylvester Stallone
164,165,1996,/title/tt0117333/,Phenomenon,1996,123,"Drama, Fantasy, Romance",6.4,85.0,78129,104.640000,Jon Turteltaub,John Travolta,Kyra Sedgwick,Forest Whitaker,Robert Duvall
144,145,1996,/title/tt0080520/,Cheech and Chong's Next Movie,1980,99,"Comedy, Crime, Sci-Fi",6.1,66.0,13864,41.680000,Tommy Chong,Cheech Marin,Tommy Chong,Evelyn Guerrero,Betty Kennedy
145,146,1996,/title/tt0112302/,Tom and Huck,1995,97,"Adventure, Comedy, Drama",5.5,85.0,10646,23.740000,Peter Hewitt,Jonathan Taylor Thomas,Brad Renfro,Charles Rocket,Eric Schweig

In [ ]:
# Rating × votes ilə “IMDB_score_power” adlı yeni sütun yaradın (yüksək reytinq + çox səs = daha güclü film).
IMDB_score_power= df['Rating']*df['Votes']
IMDB_score_power

0       11178116.6
1       23525958.9
2        5388225.3
3        8887821.0
4         442522.8
           ...
6495      469759.5
6496      383275.8
6497     3371276.7
6498      314781.6
6499      303534.3
Length: 6500, dtype: float64

In [ ]:
# Datasetdə təkrarlanan sətir (duplicate) olub-olmadığını yoxlayın və varsa silin.
df.duplicated().sum()

np.int64(0)

In [ ]:
# Directora görə qruplaşdırın və hər bir rejissorun neçə film çəkdiyini tapın.
# → Ən çox filmi olan ilk 5 rejissoru göstər.
qrup = df.groupby('Director')['Title'].count()

qrup.sort_values(ascending=False).head(5)

Director
Alfred Hitchcock    222
Stanley Kubrick     199
Steven Spielberg    154
Billy Wilder        145
Martin Scorsese     131
Name: Title, dtype: int64

In [ ]:
df['Title']

0       Star Wars: Episode IV - A New Hope
1                 The Shawshank Redemption
2                            Trainspotting
3                       The Usual Suspects
4                       The Wrong Trousers
                       ...
6495                 The Battle of Algiers
6496                     Nights of Cabiria
6497                    The Princess Bride
6498                            Raatchasan
6499                          Sardar Udham
Name: Title, Length: 6500, dtype: object